.skin-blue .main-header .logo {
    background-color: #ffffff !important;
    color: #fff;
    border-bottom: 10px solid #ccc;
}
p {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #367fa9 !important;
    margin-bottom: 20px;
    margin-top: 15px;
}
